@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #b45309;
    --background-color: #faf3eb;
    --text-color: #333;
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
}

.recipe-card {
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
}

.recipe-image {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

h1, h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
}

h1 {
    color: #333;
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    margin-bottom: 15px;
}

ul, ol {
    padding-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 8px;
}

.prep-time {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 20px;
}

.prep-time h2 {
    color: maroon;
}

section {
    margin-bottom: 30px;
}

.divider{
    margin-bottom: 12px;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table th, .nutrition-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.nutrition-table tr:last-child td {
    border-bottom: none;
}